
body {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  color: black;
}

.activity-mainclass {
  padding: 20px;
  margin-top: 0px;
  font-family: Arial, sans-serif;
  height: calc(100vh - 60px); 
  width: 100%; 
  position: absolute;
  top:80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0px;
}
 
.activity-header {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.activity-options {
    display: flex;
    gap: 30px;
}

.activity-options a {
    color: black;
}


.activity-control-button button{
  width: auto;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.activity-controls{
    display: flex;
    gap: 30px;
}

.activity-control-button{
   margin-left: auto;
   display: flex;
   gap: 30px;
   margin-right: 5px;
}

.activity-details-chart-container {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center; 
}

.activity-details-graph {
  width: 100%;
  height: auto;
  margin-left: 8%;
}

.activity-details-chart {
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 50%;
    top: 0;
    left: 0;
    margin-bottom: 0; 
    display: flex;
    margin-top: 160px;
    margin-left: 25%;
}

.activity-chart-download {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-bottom: 0; 
  width: 100%; 
  margin-top: 120px;
  left:0px;
  top: 0px;
  gap: 10px;
}

.activity-chart-download button{
  width: auto;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #007bff;
}

.activity-milestones-details {
    background-color: white;
    display: flex;
    gap: 0px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 10px;
}

.activity-milestones-details-class{
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 94%;
  top: 0;
  left: 0;
  margin-bottom: 30px; 
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 600px;
  background-color: #f7faff;
  border: 1px solid #dde1e4;
  border-radius: 5px;
  margin-left: 30px;
  height: 400px;
}

.activity-milestones-details-scrollable {
  overflow-y: auto;
    max-height: 300px;
    margin-bottom: 30px;
}

  .activity-pass-status {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4CAF50;
    height: 20px;
    width: auto;
    padding: 7px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 40px;
    font-size: 14px;
    color:#f0f0f0;
  }

  .activity-fail-status {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    height: 20px;
    width: auto;
    padding: 7px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 40px;
    font-size: 14px;
    color:#f0f0f0;
    margin-left: 20px;
  }

  .activity-details-listing {
    margin-top: 7px;
  }

  .activity-milestones-date {
    margin-bottom: 7px;
    margin-top: 10px;
  }

  .activity-milestone-doneby {
    margin-left: auto;
    margin-right: 30px;
    margin-top: 7px;
  }