body {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    color: black;
  }

.status-mainclass {
    padding: 20px;
    margin-top: 0px;
    font-family: Arial, sans-serif;
    height: calc(100vh - 60px); 
    width: 100%; 
    position: absolute;
    top:80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0px;
}

.status-header {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.status-options {
    display: flex;
    gap: 30px;
}

.status-options a {
    color: black;
}

.upperbar {
    font-weight: bold;
}


.status-control-button button, .status-delete-testrun button, .status-delete-milestones button{
    width: auto;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.status-controls, .status-testruns-header, .status-milestones-header {
    display: flex;
    gap: 30px;
}

.status-control-button, .status-delete-testrun, .status-delete-milestones {
   margin-left: auto;
   display: flex;
   gap: 10px;
   margin-right: 5px;
}

.milestone-button {
    background-color: #007bff;
}

.milestone-button button {
    width: auto;
}

 .milestone-button:hover {
    background-color: #0056b3;
  }

.status-details {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}

.status-details-graph {
    width: 25%;
    height: auto;
    margin-left: 8%;
}

.status-milestone-status-detail {
    font-size: 12px;
    color: rgb(87, 86, 86);
}

.status-details-chart {
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    margin-bottom: 0; 
    display: flex;
    gap: 20px;
    padding: 10px 20px;
    margin-top: 100px;
}

.status-chart-download {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-bottom: 0; 
    width: 100%; 
    margin-top: 120px;
    left:0px;
    top: 0px;
    gap: 10px;
}

.status-chart-download button{
    width: auto;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #007bff;
}

.download:hover {
    background-color: #0056b3;
}

.status-delete-testrun button , .status-delete-milestones button{
    margin-top: 10px;
}

.status-testrun-details, .status-milestones-details {
    background-color: white;
    display: flex;
    gap: 0px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 10px;
}

.status-milestones-details-class{
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 94%;
    top: 0;
    left: 0;
    margin-bottom: 30px; 
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 500px;
    background-color: #f7faff;
    border: 1px solid #dde1e4;
    border-radius: 5px;
    margin-left: 30px;
    height: 400px;
}

.status-testrun-details-class{
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 94%;
    top: 0;
    left: 0;
    margin-bottom: 30px; 
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 950px;
    background-color: #f7faff;
    border: 1px solid #dde1e4;
    border-radius: 5px;
    margin-left: 30px;
    height: 400px;
}

.status-milestones-details-details, .status-testrun-details-details {
    overflow-y: auto;
    max-height: 300px;
    margin-bottom: 30px;
}

.status-testrun-statusbar, .status-milestones-statusbar {
    gap: 10px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 10px; 
    width: 10%;
    height: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 2px;
    margin-top: 5px;
}

.status-milestones-progress-bar-passed, .status-testrun-progress-bar-passed {
    height: 100%;
    background-color: #4CAF50;
  }

  .status-milestones-progress-bar-untested, .status-testrun-progress-bar-untested {
    height: 100%;
    background-color: #f0f0f087;
  }

  .status-milestones-progress-bar-failed, .status-testrun-progress-bar-failed {
    height: 100%;
    background-color: rgb(253, 37, 37);
  }

.status-milestones-progress-value, .status-testrun-progress-value {
    font-weight: bold;
    margin-top: 8px;
  }

 