/* Ensure basic styling */
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  
} 

/* General container for the component */
.test-suites-cases {
  /* padding: 20px;
  margin-top: 60px; 
  background-color: #e6f3ff;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  overflow-y: auto; 
  height: calc(100vh - 60px); 
  width: 100%;  */

  font-family: Arial, sans-serif;
  width: 100%;  
}

/* Header styling for 'Test Suites & Cases' heading and button */
.test-suites-header {
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
  background-color: #e6f3ff; 
  z-index: 10;  */

  align-items: center;
  position: absolute;
  width: 100%;
  top: 100px;
  left: 30px;
  margin-bottom: 0;
  color: black;
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
  background-color: #e6f3ff;
} 

.test-suites-header h1 {
  font-size: 22px;
  color: #333;
  margin: 0;
}

.add-test-suite {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 30px;
}

.add-test-suite:hover {
  background-color: #0056b3;
}

/* Styling for the test suite summary */
.suite-summary {
  margin-top: 20px;
  font-size: 16px;
  color: #333;
}

/* Styling for the test suite list */
.suite-list {
  /* margin-top: 20px; */
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 97%;
    margin-left: 30px;
    margin-right: 30px;
    padding: 20px;
    margin-top: 200px;
    margin-bottom: 20px;
    top: 0;
    left: 0;
    /* background-color: #f7faff; */
}

.suite-list .suite {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 5px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.separator {
  margin-top: 8px;
}

.suite-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.suite-title {
  font-size: 18px;
  font-weight: bold;
  color: #007bff;
  text-decoration: none;
}

.suite-title:hover {
  text-decoration: underline;
}

.suite-options {
  display: flex;
  gap: 10px;
}

.suite-options a {
  color: #007bff;
  text-decoration: none;
}

.suite-options a:hover {
  text-decoration: underline;
}

.suite-details {
  font-size: 14px;
  color: #666;
}
